## PAIR PROGRAMMING PANDAS II 
---

**EJERCICIO  1**

En este ejercicio de pair programming pondremos en práctica como cargar distintos tipos de archivos en Python usando Pandas.

Al final de la explicación encontrareís una serie de ficheros con distintos formatos.

Los objetivos de este pair programming:

Id cargando todos los ficheros en vuestro jupyter.

Si os da error leer el pickle será por la versión de pandas. Podéis guardar el csv como pickle y cargarlo de ahí.

Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook. 

Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:

csv

excel

json

pickle

In [4]:
import pandas as pd
import numpy as np
import pickle

In [10]:
# Abrimos el archivo csv teniendo en cuenta el encoding y el separador

df_csv = pd.read_csv("Archivos/quejas.csv", encoding= 'latin-1', sep= ';' )
df_csv.head(2)

,Unnamed: 0,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejerï¿½a de Medio Ambiente, Vivienda y Agr...",D.G. de Descarbonizaciï¿½n y Transiciï¿½n Ener...,ENERGï¿½A,NaN,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejerï¿½a de Medio Ambiente, Vivienda y Agr...",D.G. de Descarbonizaciï¿½n y Transiciï¿½n Ener...,ENERGï¿½A,NaN,NaN

In [11]:
# Abrimos el archivo excel

df_xlsx = pd.read_excel("Archivos/quejas2.xlsx")
df_xlsx.head()

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2  ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3  ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4  ATENCIÓN AL CIUDADANO                                              OTROS

In [12]:
# Abrimos el archivo json 

df_json = pd.read_json("Archivos/quejas.json")
df_json.head()

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...
2  {'unidad_descripcion': 'D.G. de Descarbonizaci...
3  {'unidad_descripcion': 'D.G. de Descarbonizaci...
4  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [45]:
# Abrimos el archivo pickle  

df_pickle = pd.read_pickle("Archivos/algas.pickle")
df_pickle.head(5)

,Unnamed: 0,lon,lat,locality,year,month,kingdom,class,family,genus,species,new,state,country,fecha,day,number_ind
0,22,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,4
1,23,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,3
2,24,-70.7167,43.0750,New Castle,1900,5.0,Plantae,Florideophyceae,Palmariaceae,Palmaria,Palmaria palmata,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,9
3,33,-158.1170,21.5833,Haleiwa,1900,6.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"21.5833,-158.117",Hawaii,United States,1900-06-01,1,7
4,35,-7.0000,62.1800,Hvalvík,1900,6.0,Chromista,Phaeophyceae,Alariaceae,Alaria,Alaria esculenta,"62.18,-7.0",Streymoyar sýsla,Føroyar,1900-06-01,1,4

In [51]:
# Abrimos un clipboard, corriendo este código mientras que tenemos los datos de la tabla excel 
# copiados en el 'portapapeles'

df_clipboard = pd.read_clipboard(sep='\\s+')
df_clipboard.head(2)

,Employees,Empleados,Training your team and getting new employees to follow your procedures is quick and easy with LTC Worx.,http://www.linguee.es/espanol-ingles/search?source=auto&query=employees
0,Office staff,Personal de oficina,The office staff of FLOPEC is composed by 99 p...,http://www.linguee.es/espanol-ingles/search?so...
1,Interdepartamental,Interdepartamental,The interdepartmental task force met at the pr...,http://www.linguee.es/espanol-ingles/search?so...

---

In [52]:
# Guardamos el archivo csv

df_csv.to_csv("Guardado/quejas.csv")

In [53]:
# Guardamos el archivo xlsx

df_xlsx.to_excel("Guardado/quejas2.xlsx")

In [54]:
# Guardamos el archivo json

df_json.to_json("Guardado/quejas.json")

In [55]:
# Guardamos el archivo pickle

df_pickle.to_pickle("Guardado/algas.pickle")